modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Start Development Server"

[[workflows.workflow]]
name = "Start Development Server"
author = 42661209
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --web"
